@{
    ViewData["Title"] = "About";

}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Professor @ViewData["Professor"]
</p>

<p>
    <strong>
        More information: <a href="http://www.educandoweb.com.br">EducandoWeb.com.br</a>
    </strong>
</p>

